*{
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}


header {
	background-color: #51CA8D;
	min-width: 100%;
	height: auto;
}

section {
	min-width: 100%;
	height:auto;

}

img{
	max-width: 70px;
}
